// never forget to activate "watch sass"

.navslant {
  position: relative;
  z-index: 10000;

  .navslant-btn {
    // font-size: 40px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 100000;
    top: 40px;
    right: 40px;
    background: transparent;
    cursor: pointer;
    // background: #1d1d1d;
    border-radius: 3px;
    // box-shadow: 0 0 5px #d2d2d2;
    .fa {
      border: 2px solid rgb(122, 122, 122);
      border-radius: 3px;
      padding: 10px;
      color: rgb(122, 122, 122);
    }
  }
  .navslant-menu {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    background: #ebebeb;
    height: 100%;
    transform: skewX(0deg) translate(100%, 0);
    transform-origin: top right;
    transition: all 0.2s ease-in;
    z-index: -1;
    ul {
      // transform: skewX(-8deg);
      transform-origin: top left;
      // position: fixed;
      right: 120px;
      top: 120px;
      width: 400px;
      text-align: right;
      li {
        list-style: none;
        font-weight: 300;
        color: hsl(0%, 0%, 70%);
        position: relative;
        z-index: 99999;
        font-size: 32px;
        color: hsl(0%, 0%, 10%);
        line-height: 64px;
        opacity: 0;
        transform: translate(0, 10px);
        transition: all 0s ease-in 0.3s;
        a {
          border: none;
          color: hsl(0%, 0%, 10%);
          text-decoration: none;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
  .navslant-btn.active {
    background: #ebebeb;
    .fa {
      border: 2px solid #1d1d1d;
      color: #1d1d1d;
    }
  }
  .navslant-menu.active {
    transform: skewX(8deg) translate(0, 0);

    // box-shadow: -5px 0px 10px rgba(133, 133, 133, 0.699);

    ul {
      position: fixed;
      transform: skewX(-8deg);
      right: 60px;
      li {
        opacity: 1;
        transform: translate((0, 0));
        transition: all 0.2s ease-in 0s;
        a {
          color: #2f3760;
        }
        &:nth-child(1) {
          transition-delay: 0.3s;
        }
        &:nth-child(2) {
          transition-delay: 0.4s;
        }
        &:nth-child(3) {
          transition-delay: 0.5s;
        }
        &:nth-child(4) {
          transition-delay: 0.6s;
        }
      }
    }
  }
}

@media screen and(max-width: 600px) {
  .navslant {
    .navslant-logo {
      left: 40px;
    }
    .navslant-btn {
      right: 40px;
    }
    .navslant-menu {
      width: 80%;
      // position: relative;
      ul {
        right: 40px;
      }
    }
  }
}

@media screen and (max-height: 400px) {
  .navslant {
    .navslant-menu {
      ul {
        top: 90px;
      }
    }
  }
}
