.page4 {
  width: 100%;
  display: flex;
  box-sizing: content-box;

  .dev-label {
    // flex: 1;
    min-width: 15rem;
    background: #2f3760;
    box-shadow: 4px 4px 10px rgba(black, 0.7);
    height: 50vh;
    display: grid;
    place-items: flex-end flex-start;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
  }
  .dev-cards {
    display: flex;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 2rem;
    width: calc(100vw - 15rem);
    position: relative;
    &::-webkit-scrollbar-track {
      border: none;
      background: transparent;
      box-shadow: none;
    }
    &::-webkit-scrollbar {
      width: 0px; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
      background: transparent;
      box-shadow: none;
    }
    .dev-card {
      font-family: "Poppins", sans-serif;

      box-sizing: content-box;
      flex-direction: column;
      color: white;
      background: #2f3760;
      padding: 2rem;
      margin-left: 6px;
      box-shadow: 4px 4px 12px 2px rgba(black, 0.7);
      min-width: 10rem;
      transition: 0.15s;
      --distance: -4rem;
      &:not(:first-child) {
        margin-left: var(--distance);
      }
      &:hover {
        transform: translateY(-1rem);
      }
      &:hover ~ .dev-card {
        transform: translateX(calc(var(--distance) * -1));
      }
      &:last-child {
        margin-right: 50px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page4 {
    overflow-x: auto;
    .dev-label {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      //   width: 60px;
      min-width: unset;
      overflow: unset;
      text-align: center;
    }
    .dev-cards {
      flex: 1;
    }
  }
}

@media screen and (max-height: 450px) {
  .page4 {
    .dev-label {
      height: 14rem;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      min-width: unset;
      overflow: unset;
      text-align: center;
    }
    .dev-cards {
      flex: 1;
    }
  }
}
